<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TheTahitiSurfBible.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2C1097ADB005CDC951F464F2245AB5817646AE16</string>
				<key>dateExpires</key>
				<string>1/9/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9F3JPPB89L.xyz.jerad.TheTahitiSurfBible</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>9F3JPPB89L</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>TheTahitiSurfBible.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b1768401-8e7a-4c87-893e-8ef01b29f261</string>
				<key>dateExpires</key>
				<string>1/9/24</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: xyz.jerad.TheTahitiSurfBible</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9F3JPPB89L</string>
				<key>name</key>
				<string>Jerad Acosta</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
